#playlist {
    color: white;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#playlist .item {
    display: flex;
    margin: .5rem 0;
}

#playlist .itemImg {
    width: 50px;
}

#playlist p {
    padding: .5rem;
}

@media screen and (min-width:576px) {
    #playlist {
        height: 100%;
        overflow-y: scroll;
    }
}